# Operational Database (OLTP) Configuration
DB_HOST=localhost
DB_NAME=fundraising_db
DB_USER=root
DB_PASS=

# Data Warehouse (OLAP) Configuration
DW_HOST=localhost
DW_NAME=fundraising_dw
DW_USER=root
DW_PASS=
